header img {
    width: 70px;
}
header {
    border: solid 2px;
    padding: 8px;
    margin: 6px;
    border-radius: 15px;
    background-color: rgb(143, 230, 117);
    border-color: rgb(11, 158, 11);
}
.pypsik {
    border: solid 2px;
    border-color: rgb(19, 163, 74);
}
body {
    font-family: sans-serif;
}
.kawer {
    text-align: center;
}
.tyt {
    text-align: center;
}
.lol {
     width: 200px;
}
.pokypka {
     text-align: center;
}
